<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '图库 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null, sidebar = ~{::sidebar}, contentClass = '')}"
>
  <th:block th:fragment="content">
    <div class="rounded-xl p-4">

      <div
        id="photos"
        class="columns-1 gap-3 pb-12 sm:columns-2 sm:gap-3 md:columns-3 lg:columns-4 [&>div:not(:first-child)]:mt-3"
      >
        <div th:each="photo : ${photos.items}" class="group relative h-auto max-w-full">
          <img
            class="animated fadeIn transform-gpu rounded-lg transition-all"
            th:src="${photo.spec.url}"
            th:alt="${photo.spec.displayName}"
          />
        </div>
      </div>

      <div class="mt-6 flex items-center justify-between" th:if="${photos.hasPrevious() || photos.hasNext()}">
        <a
          th:href="@{${photos.prevUrl}}"
          class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white"
          th:attr="style=${photos.hasPrevious()} ? '' : 'color: #ccc; pointer-events: none;'"
        >
          <span class="i-tabler-arrow-left text-lg transition-all group-hover:-translate-x-1"></span>
          <span>上一页</span>
        </a>
        <span class="text-sm text-gray-900 dark:text-slate-50" th:text="|${photos.page} / ${photos.totalPages}|"></span>
        <a
          th:href="@{${photos.nextUrl}}"
          class="whitespace-no-wrap group inline-flex items-center justify-center gap-1 rounded-md border border-gray-200 bg-white px-4 py-1 text-sm font-medium leading-6 text-gray-600 shadow-sm hover:bg-gray-50 focus:shadow-none focus:outline-none dark:border-slate-600 dark:bg-slate-700 dark:text-slate-100 dark:hover:bg-slate-600 dark:hover:text-white"
          th:attr="style=${photos.hasNext()} ? '' : 'color: #ccc; pointer-events: none;'"
        >
          <span>下一页</span>
          <span class="i-tabler-arrow-right text-lg transition-all group-hover:translate-x-1"></span>
        </a>
      </div>
    </div>
    <style>
      @media (min-width: 640px) {
        .sm\:col-span-3 {
            grid-column: span 4 / span 4
        }
      }
    </style>
  </th:block>
  <th:block th:fragment="sidebar" />
</html>
